.searchBarContainer {
    padding-top: 40px;
    width: 90%;
    margin: auto;
}

.searchBarContainer h1 {
    font-family: 'Rock Salt', Cursive;
    font-size: 3rem;
    text-align: center;
}

.input {
    width: 50%;
    margin: auto;
    border: none;
    border-radius: 40px;
    background-color: #E5E8EB;
    display: block;
    font-size: 24px;
    padding: 10px;
    padding-left: 50px;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
}

.input:focus {
    outline: none;
}

.movieContainer {
    width: 80%;
    margin: auto;
}
